* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 100;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
};

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.paused-timer

.show {
    display: block;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    background-color: #FC5E5E;
    flex-basis: 50%;
    height: 93vh;
    transition: 0.2s;
}

.logo {
    height: 8em;
    width: auto;
    padding: 1em;
}

.work-timer {
    display: flex;
    padding-top: 0.5em;
    flex-direction: column;
    text-align: center;
    font-size: 5em;
}

.arrows {
    height: 0.35em;
    width: auto;
    cursor: pointer;
    display: block;
    margin: auto;
    opacity: 1;
    transition: 0.2s;
}

.arrows:hover {
    height: 0.36em;
}

.work-timer > p {
    padding: 0.4em 0;
    transition: 0.1s;
}

.work-play {
    display: flex;
    flex-direction: row;
    padding-top: 9em;
}

.work-word {
    font-size: 2.5em;
    flex-basis: 75%;
    text-align: center;
    margin-left: 20%;
    align-self: center;
    padding-bottom: 20px;
    transition: 0.1s;
}

.start-btn {
    flex-basis: 25%;
    height: 4em;
    width: auto;
    cursor: pointer;
    transition: 0.1s;
}

.start-btn:hover {
    height: 4.3em;
}

.pause-btn {
    flex-basis: 25%;
    height: 4em;
    width: auto;
    cursor: pointer;
    transition: 0.1s;
}

.pause-btn:hover {
    height: 4.3em;
}




.right-column {
    background-color: #FB6767;
    flex-basis: 50%;
    transition: 0.2s;
}

.break-timer {
    display: flex;
    padding-top: 2.1em;
    flex-direction: column;
    text-align: center;
    font-size: 5em;
}

.break-timer > img {
    height: 0.35em;
    width: auto;
    cursor: pointer;
}

.break-timer > p {
    padding: 0.4em 0;
    transition: 0.1s;
}

.break-restart {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 9em;
}

.break-word {
    font-size: 2.5em;
    flex-basis: 75%;
    text-align: center;
    margin-right: 20%;
    align-self: center;
    padding-bottom: 20px;
    transition: 0.1s;
}

.break-restart > img {
    flex-basis: 25%;
    height: 4em;
    width: auto;
    cursor: pointer;
    transition: 0.1s;

}


.break-restart > img:hover {
    height: 4.3em;
}




footer {
    background-color: #F34B4B;
    flex-basis: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.git-logo {
    height: 2em;
    width: auto;
    margin-left: 0.6em;
}

.hide {
    display: none;
}

.hideVisibility {
    visibility: hidden;
    opacity: 0;
}


.word-highlight {
    font-size: 2.7em;
    font-weight: 300;
}

.timer-highlight {
    font-size: 1em;
    font-weight: 300;
};